
.loader{
  position: relative;
  left:50%;
  top: 30%;
}
  .main{
      height: 100vh;
      width: 100%;
      background-color:black ; 
       overflow-x: hidden;
  }
  a{
      text-decoration: none;
      color: #064663;
      transition-duration: 3s;
  }
  a:hover{
    color: black;
  }
  .card {
   position: relative;
    transition: 0.3s;
    width: 20%;
    animation: move 3s ease-in-out;
    transition-duration: 5s;
  }
  

  
  .container {
    padding: 2px 16px;
  }
  @keyframes move {
    0%{left: 400px;}
    100%{left: 0px;}
    
  }