<div class="primary">
<div class="main">
  <form class="" >
    <div class="">
        
            <input class="form-control" style="width: 40%;" type="text" placeholder="Search movies"(keyup)="movie($event)">
            <input class="form-control" style="width: 40%;" type="text" placeholder="year" (keyup)="year($event)">
            <input class="form-control" style="width: 40%;" type="text" placeholder="type" (keyup)="type($event)">
           

      
        <button class="btn search-btn " (click)="movieDetails()"><i class="fas fa-2x fa-search pulsate-fwd"></i></button>
    </div>
</form></div></div>
